<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <header>
        <div class="logo">
            <a th:href="@{/home}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
        </div>
        <nav>
            <ul class="navbar">
                <a th:href="@{/about}">
                    <li>About Us</li>
                </a>
                <a th:href="@{/donor}">
                    <li>Donor List</li>
                </a>
                <a th:href="@{/contact}">
                    <li>Conatct</li>
                </a>
                <a th:href="@{/donate}">
                    <li>
                        <button>Donate Now</button>
                    </li>
                </a>
                <a th:href="@{/logout}">
                    <li>
                        <button>Logout</button>
                    </li>
                </a>
            </ul>
        </nav>
    </header>
</header>
<h1>Welcome to admin panel</h1>

<p class="copyright">&copy; 2021 Share Blood Team ~ All Right Reserved ~ Privacy Policy</p>
</body>
</html>
